body{
    background-image: linear-gradient(#2980b9, #8e44ad);
}
.heading{
    text-align: center;
    text-shadow: 2px 2px gray;

}
ul{
    margin: 0 auto;
    text-align: center!important;
    color: black;
}

li{
    display: inline-block;
    vertical-align: top;
    color: black;
}
.button {
    text-align: center;
    background-color: #3d3fb4;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }