<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Expertise Checker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2 class="domains">My Domain: {{domains.fields}}</h2>
    <h4 class="expertise">I have an expertise in this domain of {{domains.expertise}}</h4>
</body>
</html>
