@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');


body{
    margin: 0 auto;
    /* background-color: #222; */
    margin: 0;
    padding: 0;
    background: linear-gradient(60deg,#2980b9, #8e44ad)!important;
    height: 100vh;
    overflow: hidden;
}

.domains{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.expertise{
    text-align: center;
    font-family: 'Lato', sans-serif;
}